__pycache__/
*.json
/.idea/
/bot/src/main/resources/env.properties

HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/.gradle/
/build/
/gradle/wrapper/
/gradlew
/gradlew.bat
/bot/gradlew.bat
/bot/gradlew
/bot/gradle/


env/
.idea
.DS_Store
problem_template/
juggler/database/__pycache__/
